<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <div class="ion-text-center">
                <ion-card-header>
                  <ion-icon name="person"></ion-icon>
                  <ion-card-title>Cadastro</ion-card-title>
                </ion-card-header>
              </div>
              
              <ion-col></ion-col>
              <ion-item>
                  <ion-label position="floating">Nome</ion-label>
                  <ion-input></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Sobrenome</ion-label>
                  <ion-input></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">E-mail</ion-label>
                  <ion-input></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Senha</ion-label>
                  <ion-input type="password"></ion-input>
                </ion-item> <br>
                <div class="ion-item-center">
                  <ion-button color="primary" onclick="handleButtonClick()">Cadastrar</ion-button>
                </div>
            </div>
          </ion-col>
          
        </ion-row>
      </ion-grid>
</ion-content>
